body {
    color: white;
    background-color: #181818;
    margin: 0;
    font-size: 20px;
    font-family: 'Trebuchet MS';
}

main {
    background-color: #0F0F0F;
    padding-bottom: 20px;
    padding-top: 70px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0 50px;
}

header {
    margin: 0 auto;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    width: 100%;
}

header:hover {
    opacity: 1;
}

th:first-child {
    border-right: 1px solid white;
}

nav a:hover {
    color: #e84855;
}

.centered {
    max-width: 1000px;
    margin: 0 auto;
}

#about-section {
    margin: 0 50px;
}

section {
    margin: 50px 0;
}

h1, h2 {
    text-align: center;
    font-family: 'Spectral SC';
    font-weight: bold;
    color: #e84855;
}

table {
    max-width: 800px;
    margin: 0 auto;
}

td, th {
    border-bottom: 1px solid white;
    padding: 10px;
}

.table-data td:first-child {
    background-color: black;
    border-right: 1px solid white;
    text-align: center;
    font-family: monospace;
    width: 150px;
}

.table-data td:first-child:hover {
    background-color: white;
    color: black;
}

.css-table td:first-child {
    text-align: center;
    border-right: 1px solid white;
}

footer {
    text-align: center;
    background-color: #AC2B36;
    padding: 20px 0 20px 0;
}

footer p {
    padding-right: 30px;
    margin-bottom: 0;
    font-size: 16px;
}